[Unit]
Description=Redis exporter for prometheus
After=network.target

[Service]
ExecStart=/usr/bin/redis_exporter 
Type=simple

[Install]
WantedBy=multi-user.target
